body {
  /* background: url("recipe.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #519259;
  font-family: Nunito;
  margin-bottom: 20px;
  padding-top: 2%;
  text-align: center;
}

.h1-div {
  border-radius: 20px;
  margin: auto;
  width: 80%;
}

h1 {
  background-color: #184d47;
  color: #fff;
  font-family: "Varela Round";
  font-size: 4vw;
  font-weight: 600;
  padding: 3%;
  width: auto;
}

.return-button {
  font-size: 3vw;
}

.recipe-box {
  display: flexbox;
  flex-direction: row;
  border-radius: 20px;
  text-align: center;
}

p {
  background-color: #184d47;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 5% auto 1%;
  padding: 2px 5px;
  width: fit-content;
}
