body {
  background-color: #e4e9fd;
  /* background-image: -webkit-linear-gradient(80deg, #96bb7c 50%, #fad586 50%); */
  /* min-height: 700px; */
  font-family: Nunito;
  padding-top: 20%;
  text-align: center;

  /* CSS animation */
  background: linear-gradient(-45deg, #c64756, #fad586, #96bb7c, #184d47);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

.container {
  padding: 15px 80px;
}

.h1-div {
  border-radius: 10px;
  margin: auto;
  width: 55%;
}

h1 {
  background-color: #184d47;
  color: #fff;
  font-family: "Varela Round";
  font-size: 3rem;
  font-weight: 600;
  padding: 10px;
}

.input-box {
  font-size: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 2px;
}

.input-box[id="ingredients"] {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.input-box[id="ranking"] {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin-bottom: 10px;
}

/* Animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Mobile screen size */
@media (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }
  .input-box {
    font-size: 0.7rem;
  }
}
